:root {
  --color-logo: #000000;
  --color-logo-linknav: #2196f3;
  --color-main-title: #ffffff;
  --color-section-title: #212121;
  --color-text: #757575;
  --color-dark-bg: #2f303a;
  --color-grey-bg: #f5f4fa;
  --button-portf: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* Утилиты */

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--color-logo-linknav);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link-haeder {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-section-title);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link-inform {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-text);
}

.description {
  display: flex;
}

.description .item {
  width: 1170px;
  margin-bottom: 0;
  /* background-color: greenyellow; */
}

.description .item.item:not(:last-child) {
  margin-right: 30px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.curent {
  color: var(--color-logo-linknav);
}

.dark-bg {
  background-color: var(--color-dark-bg);
}

.grey-bg {
  background-color: var(--color-grey-bg);
}

.dark-bg .logo {
  --color-logo: var(--color-main-title);
}

.button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-main-title);
  background-color: var(--color-logo-linknav);
  cursor: pointer;
  text-align: center;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main-title);
}

.hero {
  min-height: 100vh;
  padding-bottom: 94px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-section-title);
}

.section-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-section-title);
}

.section-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.section-name-team {
  font-weight: 500;
  color: var(--color-section-title);
}

.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-section-title);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
  text-decoration: none;
}

.part-logo {
  color: var(--color-logo-linknav);
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* pages two */

.button-portf:hover {
  color: var(--color-main-title);
  background-color: var(--color-logo-linknav);
}

.button-portf {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--button-portf);
  cursor: pointer;
  background-color: #f5f4fa;
}

.title-portf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-section-title);
}

.name-work {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
