:root {
  --color-logo: #000000;
  --color-logo-linknav: #2196f3;
  --color-main-title: #ffffff;
  --color-section-title: #212121;
  --color-text: #757575;
  --color-dark-bg: #2f303a;
  --color-grey-bg: #f5f4fa;
  --button-portf: #212121;
  --color-icons: #afb1b8;
  --color-iconsbg: rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Утилиты */

.link {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--color-logo-linknav);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts-list {
  display: inline-flex;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item .icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-item .icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  text-align: center;
}

.social-icons {
  display: inline-flex;
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-main-title);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--color-icons);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--color-logo-linknav);
}

.social-icon-link:hover .icon,
.social-icon-link:focus .icon {
  fill: var(--color-main-title);
}

.dark-bg .social-icon-link {
  background-color: var(--color-iconsbg);
}

.dark-bg .icon {
  fill: var(--color-main-title);
}

.dark-bg .social-icon-link:hover,
.dark-bg .social-icon-link:focus {
  background-color: var(--color-logo-linknav);
}

.client-list {
  display: inline-flex;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--color-logo-linknav);
}

.client-list .icon {
  fill: var(--color-icons);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .icon,
.client-link:focus .icon {
  fill: var(--color-logo-linknav);
}

.main-nav {
  display: flex;
  border-bottom: 1px solid #ececec;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.border-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link-haeder {
  display: block;
  color: var(--color-section-title);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link-inform {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--color-text);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description {
  display: flex;
}

.description .item {
  width: 270px;
  margin-bottom: 0;
  /* background-color: greenyellow; */
}

.description .item.item:not(:last-child) {
  margin-right: 30px;
}

.curent {
  color: var(--color-logo-linknav);
}

.curent::after {
  content: '';
  display: block;
  width: auto;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: translateY(32px);
}

.dark-bg {
  background-color: var(--color-dark-bg);
}

.grey-bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-grey-bg);
}

.dark-bg .logo {
  --color-logo: var(--color-main-title);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-main-title);
  background-color: var(--color-logo-linknav);
  cursor: pointer;
  text-align: center;
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/titlefon.jpg);
}

.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main-title);
  width: calc(100% / 12 * 7);
}

.work {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-section-title);
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.images-item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  color: var(--color-main-title);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-section-title);
}

.description-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--color-grey-bg);
  border-radius: 4px;
}

.antenna::before {
  background-image: url(../images/cards/antenna.svg);
}

.clock::before {
  background-image: url(../images/cards/clock.svg);
}

.diagram::before {
  background-image: url(../images/cards/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/cards/astronaut.svg);
}

.section-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 270px;
  text-align: center;
  background-color: var(--color-main-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.section-team {
  font-size: 16px;
  line-height: 1.18;
}

.our-team {
  padding: 30px;
}

.section-name-team {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--color-section-title);
}

.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-clients {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-section-title);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-section-title);
}

.header .logo {
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.part-logo {
  color: var(--color-logo-linknav);
}

.link-footer {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.adres-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  margin-right: 70px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: inline-block;
}

.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main-title);
}

/* pages two */

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-elements {
  max-width: 370px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  border: 1px solid #eeeeee;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-elements:hover,
.card-elements:focus {
  background-color: var(--color-main-title);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms ease;

  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-main-title);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-elements:hover .overlay {
  transform: translateY(0);
}

.button-portf {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--button-portf);
  cursor: pointer;
  background-color: #f5f4fa;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portf:hover,
.button-portf:focus {
  color: var(--color-main-title);
  background-color: var(--color-logo-linknav);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portf {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-section-title);
}

.name-work {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}

.card-name {
  border-top: 0;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding-top: 8px;

  background-color: var(--color-main-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button .icon-modal {
  width: 18px;
  height: 18px;
  fill: var(--color-logo);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--color-main-title);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
