.site-nav {
  display: flex;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  color: var(--color-section-title);
}
