.auth-nav {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.auth-nav__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
