.description {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.description__item {
  width: 270px;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 1 * 30px) / 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.description__item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--color-grey-bg);
  border-radius: 4px;
}

.description__item:nth-child(1):before {
  background-image: url(../images/cards/antenna.svg);
}

.description__item:nth-child(2):before {
  background-image: url(../images/cards/clock.svg);
}

.description__item:nth-child(3):before {
  background-image: url(../images/cards/diagram.svg);
}

.description__item:nth-child(4):before {
  background-image: url(../images/cards/astronaut.svg);
}

.description__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-section-title);

  @media screen and (min-width: 480px) and (max-width: 768px) {
    text-align: center;
  }
}
