.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: start;
  }
}

.calc-position {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }
}

.calc-position:last-child {
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 15px);
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer__text {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main-title);
}

.link--dark-bg {
  background-color: var(--color-iconsbg);

  &:hover,
  &:focus {
    background-color: var(--color-logo-linknav);
  }
}

.icon--dark-bg {
  fill: var(--color-main-title);
}
