.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-map {
  margin-right: 70px;
}

.calc-position {
  flex-basis: calc((50% - 45px) / 2);
}

.calc-position:last-child {
  flex-basis: calc(50% - 15px);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: inline-block;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main-title);
}

.link--dark-bg {
  background-color: var(--color-iconsbg);

  &:hover,
  &:focus {
    background-color: var(--color-logo-linknav);
  }
}

.icon--dark-bg {
  fill: var(--color-main-title);
}

.footer__container {
  display: flex;
  align-items: baseline;
}
