.hero {
  max-width: 1200px;
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/titlefon.jpg);

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: calc(100% / 4 * 3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main-title);

  @media screen and (min-width: 768px) {
    width: calc(100% / 6 * 3);
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: calc(100% / 12 * 7);
  }
}
